body{
    background: #F2F2F2;
    font-family: monospace;
    margin: 0;        
}
header{
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: monospace;
    margin: 5px;
    font-size: 2vh;
}
h1{
    margin: 5px 15px;
}
.header--logo{
    width: 8vh;
    margin: 0px 25px;
}
h2{
    margin: 15px;
    border-top: 2px solid #F29544;
    font-size: 3vh;
    /* text-align: justify; */
}
nav{
    color: #0D0D0D;
    display: grid;
    grid-template-rows: initial;
}
ol{
    background-color: #F2B441;
    padding: 5px;
    list-style-position: inside;
    border: #F29544 solid 2px;
    margin: 3px 20px;
    width: 30vw;
}
.workshop--n3__list{
    display: none;
    list-style: none;
    padding: 1vh 5vw;
}
.workshop--n3:hover > .workshop--n3__list{
    display:block;
}
li{
    padding: 4px 0px;
}
a {
    color: #0D0D0D;
    text-decoration: none;
}
form{
    display: grid;
    grid-auto-flow: row;
}
label{
    font-size: 17px;
    margin: 5px;
}
/* Input */
input{
    background-color: #F2B441;
    padding: 5px;
    border: #F29544 solid 2px;
    margin: 3px 10px;
    text-decoration: none;
    width: 43vw;
    outline: none;
}
/* Flechas de los input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.Coupons{
    background-color: #F2B441;
    border: #F29544 solid 2px;
    color: #0D0D0D;
    cursor: pointer;
    margin: 3px 10px;
    padding: 3px;
    width: 24vw;
}
/* Botones */
button{
    background-color: #F29544;
    border-radius: 10px;
    border: none;
    color: #0D0D0D;
    cursor: pointer;
    font-size: 2vh;
    margin: 5px 10px;
    width: 30vw;
}
/* Respuesta */
.Answer{
    text-decoration: underline solid #F29544 2px;
    font-size: 19px;
    margin: 10px 20px;
}
footer{
    color: #0D0D0D;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px;
    font-size: 1.6vh;
}
.footer--logo{
    width: 5vh;
    margin: 0px 25px;
}
.footer--disclaimer{
    margin: 0px 10px;
}
.footer--disclaimer__title{
    font-weight: bold;
    font-size: 15px
}
.footer--icons{
    margin: 0px 10px;
}